@use 'colors' as *;
@use 'mixins' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: $white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav {
	position: sticky;
	top: 0;
	background-color: $white;
	border-bottom: 0.1em solid $black;
	z-index: 1000;
	&-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-logo {
		background-image: url(../../dist/img/logo.jpg);
		@include background;
		height: 3.7em;
		width: 7.5em;
		margin: 1.5em;
	}
	&-box {
		position: relative;
		display: flex;
		&__item {
			@include background;
			margin: 1.2em;
			height: 2.1em;
			width: 2.5em;
			&-heart {
				background-image: url(../../src/img/src/heart.svg);
			}
			&-bucket {
				background-image: url(../../src/img/src/basket.svg);
			}
			&-account {
				background-image: url(../../src/img/src/account.svg);
			}
		}
	}
	&-loggin {
		@include popup;
		right: 1em;
		z-index: 10;
		&__title {
			margin: 0.6em 0 1em;
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		&__input {
			padding: 0.7em 2.2em;
			margin: 0.5em;
			border: 0.1em solid $black;
			background-color: transparent;
			&::placeholder {
				color: $grey;
			}
		}
		&-box {
			display: flex;
			justify-content: end;
			padding: 0.7em;
			&__item {
				margin-right: 0.5em;
				width: 1.2em;
				height: 1.2em;
			}
			&__text {
				font-size: 1.2rem;
			}
		}
		&__error {
			margin-top: 0.5em;
			text-transform: uppercase;
			font-size: 1.3rem;
			letter-spacing: 0.1em;
			color: red;
		}
		&__btn {
			@include btn;
			margin: 0 4em;
			padding: 1em;
			letter-spacing: 0.1em;
			&:hover {
				color: $black;
			}
			&::after {
				@include btnAnimation;
				background-color: $white;
			}
			&:hover::after {
				transform: translateY(0) scale(1);
			}
		}
		&__text {
			margin-top: 0.5em;
			font-size: 1.2rem;
			color: $black;
			text-decoration: none;
		}
	}
	&-bucket {
		@include popup;
		right: 2em;
	}
	&-heart {
		@include popup;
		right: 3em;
		&__box {
			position: relative;
			display: flex;
			margin: 1.3em 0;
			&-item {
				width: 15%;
				margin-left: 1.5em;
			}
			&-text {
				margin-left: 1.5em;
				text-align: left;
				color: $black;
				text-decoration: none;
				&--title {
					text-transform: uppercase;
					font-size: 1.3rem;
					letter-spacing: 0.1em;
				}
				&--item {
					padding: 0.5em 0;
					font-size: 1.2rem;
					color: $grey;
				}
				&--price {
					font-size: 1.5rem;
					letter-spacing: 0.1em;
					text-decoration: underline;
				}
			}
			&-img {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				background-image: url(../../src/img/src/x.svg);
				width: 3em;
				height: 3em;
				cursor: pointer;
			}
		}
		&__btn {
			font-size: 1.2rem;
			text-decoration: none;
		}
	}
}

.notification {
	padding: 0.7em;
	text-align: center;
	border-bottom: 0.1em solid $black;
	&__text {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		&-link {
			position: relative;
			margin-left: 0.5em;
			color: $black;
			z-index: 1;
			&:hover {
				color: $white;
			}
			&::after {
				@include btnAnimation;
				background-color: $black;
			}
			&:hover::after {
				transform: translateY(0) scale(1);
			}
		}
	}
}

.chose {
	text-align: center;
	overflow: hidden;
	&__title {
		@include title;
	}
	&__text {
		@include text;
		padding: 0 1em;
	}
	&-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__item {
			&-img {
				position: relative;
				@include background;
				background-image: url(../../dist/img/woman-model.jpg);
				margin: 5em;
				height: 60em;
				width: 40em;
				&:hover {
					.chose-box__item-img__hero {
						opacity: 1;
					}
				}
				&__hero {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					content: '';
					background-color: rgba(0, 0, 0, 0.3);
					opacity: 0;
					cursor: pointer;
					transition: opacity 0.3s;
				}
				&--btn {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $white;
					font-size: 3rem;
					text-transform: uppercase;
					letter-spacing: 0.1em;
				}
			}
		}
	}
}

.news {
	padding-bottom: 5em;
	text-align: center;
	&__title {
		@include title;
	}
	&__text {
		@include text;
		padding: 0 1em 3em;
	}
	&-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5em;
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: $black;
		&__img {
			width: 50%;
			object-fit: cover;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.05);
			}
		}
		&__title {
			margin: 1em 0 0.4em;
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
		&__text {
			font-size: 1.2rem;
			color: $grey;
			margin-bottom: 0.5em;
		}
		&__price {
			font-size: 1.5rem;
			text-decoration: underline;
			letter-spacing: 0.1em;
		}
	}
	&-link {
		position: relative;
		padding: 1em 3em;
		font-size: 1.5rem;
		border: 0.1em solid $black;
		color: $black;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			color: $white;
		}
		&::after {
			@include btnAnimation;
			background-color: $black;
			border: 0.1em solid $black;
		}
		&:hover::after {
			transform: translateY(0) scale(1);
		}
	}
}

.sesion {
	text-align: center;
	&__title {
		@include title;
	}
	&__text {
		@include text;
	}
	&-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 3em 0 10em;
		&__item {
			width: 35em;
		}
	}
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	&__title {
		@include title;
	}
	&__text {
		@include text;
		margin-bottom: 2em;
		width: 80%;
	}
	&-steps {
		position: relative;
		display: flex;
		z-index: 1;
		&::after {
			position: absolute;
			top: 22%;
			left: 10.5%;
			height: 0.2em;
			width: 77%;
			background-color: $black;
			content: '';
			z-index: -1;
		}
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1em;
			&-count {
				position: relative;
				margin-bottom: 1.5em;
				font-weight: bold;
				z-index: 1;
				&::after {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 3em;
					height: 3em;
					background-color: $white;
					border-radius: 50%;
					border: 0.2em solid $black;
					content: '';
					z-index: -1;
				}
				&--current {
					color: $white;
				}
				&--current::after {
					background-color: $black;
				}
			}
		}
	}
	&-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 2em;
	}
	&-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30em;
		margin: 1em;
		&__name {
			margin-bottom: 1.5em;
		}
		&__text {
			position: absolute;
			top: -30%;
			left: 6%;
			font-size: 0.8rem;
		}
		&__input {
			padding: 1em;
			width: 25em;
			height: 3.5em;
			border: 0.2em solid $black;
			border-radius: 0.1em;
			background-color: $white;
			color: $black;
		}
	}
	&__btn {
		@include btn;
		margin: 5em;
		height: 4em;
		width: 20em;
		font-size: 1.5rem;
		&:hover {
			color: $black;
		}
		&::after {
			@include btnAnimation;
			background-color: $white;
		}
		&:hover::after {
			transform: translateY(0) scale(1);
		}
	}
}
.returnForm-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__place {
		position: relative;
	}
	&__item {
		&-number {
			position: absolute;
			right: 3%;
			top: 50%;
			transform: translate(0, -50%);
			height: 100%;
			padding: 0.6em;
			font-size: 1.5rem;
			color: $black;
			border: transparent;
			border-left: 0.15em solid $black;
			background-color: transparent;
			&:focus {
				outline: none;
			}
		}
	}
}
.reclamationForm-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.trackForm-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contactForm-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__textarea {
		resize: vertical;
		min-height: 15em;
		padding: 1em;
		width: 25em;
		border: 0.2em solid $black;
		border-radius: 0.1em;
		background-color: $white;
		color: $black;
	}
}

.sent-form {
	border: none;
	margin-top: 3em;
	padding-bottom: 0;
	margin-bottom: 10em;
	&__title {
		@include title;
		text-align: center;
	}
	&__text {
		@include text;
	}
}

.active {
	display: none;
}













.footer {
	padding-bottom: 5em;
	border-top: 0.1em solid $black;
	&-box {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
	}
	&-item {
		margin: 0.3em;
		width: 28em;
		&__title {
			@include title;
			margin-bottom: 0;
		}
		&__list {
			list-style-type: none;
			&-link {
				font-size: 1.3rem;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin: 0.5em 0;
			}
			&-style {
				position: relative;
				text-decoration: none;
				color: $grey;
				&::after {
					position: absolute;
					top: 100%;
					left: 0;
					background-color: $grey;
					width: 100%;
					height: 0.1em;
					transform: scale(0);
					transform-origin: right;
					transition: transform 0.5s;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
		&__btn {
			@include btn;
			font-size: 1.3rem;
			padding: 1.5em;
			text-decoration: none;
			&--title {
				margin-bottom: 1em;
			}
			&:hover {
				color: $black;
			}
			&::after {
				@include btnAnimation;
				background-color: $white;
			}
			&:hover::after {
				transform: translateY(0) scale(1);
			}
		}
	}
}

@media (min-width: 576px) {
	.nav {
		&-box__item {
			margin: 2em;
		}
		&-bucket {
			right: 8em;
		}
		&-heart {
			right: 15em;
		}
	}
	.chose {
		&-box {
			flex-direction: row;
			&__item-img {
				margin: 2em;
				width: 25em;
				height: 35em;
			}
		}
		&__title {
			font-size: 3rem;
		}
	}
	.form {
		&__title {
			font-size: 3rem;
		}
		&__btn {
			width: 30em;
		}
	}
	.notification {
		font-size: 1.2rem;
	}
	.news__title {
		font-size: 3rem;
	}
	.sesion__title {
		font-size: 3rem;
	}
	.sent-form__title {
		font-size: 3rem;
	}
	.footer-item {
		margin: 1em;
	}
}
@media (min-width: 768px) {
	.chose-box__item-img {
		margin: 2em;
		width: 35em;
		height: 50em;
	}
	.footer-item {
		&__title {
			margin-bottom: 1em;
		}
		&__list-link {
			margin: 1.5em 0;
		}
		&__btn--title {
			margin-bottom: 2em;
		}
	}
}
@media (min-width: 992px) {
	.chose-box__item-img {
		margin: 5em;
		width: 40em;
		height: 60em;
	}
	.form {
		&-box {
			flex-wrap: nowrap;
			&__input {
				width: 25em;
			}
		}
		&-item__input {
			width: 20em;
		}
	}
}
@media (min-width: 1100px) {
	.form-item__input {
		width: 25em;
	}
	.sent-form {
		padding-bottom: 3em;
		border: 0.2em solid $black;
	}
	.footer-box {
		text-align: left;
	}
}
